<div class="parent">
  
</div>

<div class="topdiv">
<img class="image" src="/image.jpg">
</div>

<div class="parent">
  <span class="spantop">
    {{topDetails}} 
  </span>
  <div class="dividehead">
    <div class="divide">

      <div class="subdiv"> 
        <span class="fspan">
          <h1 class="heading">Profile</h1>
        </span>
        <p class="para">{{Data.profile}}</p>
      </div>

      <div class="subdiv onlylist">
        <span class="fspan">
          <h1 class="heading">Skills</h1>
        </span>
        <h3 class="subhead">
          Technical Skills
        </h3>
        <ul>
          <li>{{Skills.technical.skills[0]}}</li>
          <li>{{Skills.technical.skills[1]}}</li>
          <li>{{Skills.technical.skills[2]}}</li>
          <li>{{Skills.technical.skills[3]}}</li>
          <li>{{Skills.technical.skills[4]}}</li>
          <li>{{Skills.technical.skills[5]}}</li>
          <li>{{Skills.technical.skills[6]}}</li>
        </ul>
        <h3 class="subhead">
          Additional Skills
        </h3>
          <ul>
            <li>{{Skills.additional.skills[0]}}</li>
            <li>{{Skills.additional.skills[1]}}</li>
            <li>{{Skills.additional.skills[2]}}</li>
            <li>{{Skills.additional.skills[3]}}</li>
            <li>{{Skills.additional.skills[4]}}</li>
          </ul>
      </div>
      <div class="subdiv">
        <span class="fspan">
          <h1 class="heading">Work Experience</h1>
        </span>
        <span class="parentspan">
          <h3 class="subhead">{{WorkExperience.first.jobType}}</h3>
          <span class="subspan">{{WorkExperience.first.fromTo}}</span>
        </span>
        <p class="para">{{WorkExperience.first.address}}</p>
        <ul>
          <li>{{WorkExperience.first.work[0]}}</li>
          <li>{{WorkExperience.first.work[1]}}</li>
          <li>{{WorkExperience.first.work[2]}}</li>
        </ul>
      </div>
    </div>
    <div class="divide">
      <div class="subdiv">

        <span class="fspan">
          <h1 class="heading">Work Experience</h1>
        </span>
        <span class="parentspan">
          <h3 class="subhead">{{WorkExperience.second.jobType}}</h3>
          <span class="subspan">
            {{WorkExperience.second.fromTo}}
          </span>
        </span>
        <p class="para">
          {{WorkExperience.second.address}}
        </p>
        <ul>
          <li>{{WorkExperience.second.work[0]}}</li>
          <li>{{WorkExperience.second.work[1]}}</li>
          <li>{{WorkExperience.second.work[2]}}</li>
          <li>{{WorkExperience.second.work[3]}}</li>
          <li>{{WorkExperience.second.work[4]}}</li>
        </ul>
      </div>
      <div class="subdiv">
        <span class="fspan">
          <h1 class="heading">Education</h1>
        </span>
        <span class="parentspan">
          <h3 class="subhead">{{Education.edType}}</h3>
          <span class="subspan">{{Education.fromTo}}</span>
        </span>
        <p class="para">
          {{Education.address}}
        </p>
        <ul>
          <li>{{Education.projects[0]}}</li>
          <li>{{Education.projects[1]}}</li>
          <li>{{Education.projects[2]}}</li>
        </ul>
        <span class="parentspan">
          <h3 class="subhead">{{Education.degree.name}}</h3>
          <span class="subspan">
            {{Education.degree.fromTo}}
          </span>
        </span>
        <p class="para">{{Education.degree.address}}</p>
      </div>
    </div>
  </div>
</div>